@model int

<div class="container row pt-4">
	<div class="col-12 text-center">
		<div class="col-12">
			<h1 class="text-center text-primary">Thank you for your order!</h1>
			<h4 class="text-center">Your order number is: <strong>@Model</strong></h4>
			<img src="~/Images/lawn_leaf.jpg" width="65%" class="mt-2" />
		</div>
		<div class="col-12 text-center m-2" style="color:maroon;">
			Your order has been placed successfully. We will contact you soon.
		</div>
	</div>
